<div ng-controller="dashboardController">
    <div class="columns">
        <div class="column">
        </div>
    </div>

    <div class="columns">
        <div class="tile">
            <div class="tile is-parent is-3">
                <article class="tile is-child notification">
                    <p class="title has-text-centered">Process</p>
                    <p class="title is-4 is-spaced has-text-centered">
                        {{metrics.process.toLocaleString()}}
                    </p>
                    <p class="subtitle is-5 is-spaced">
                        Per Second: {{rates.process_per_second.toLocaleString()}}
                    </p>
                </article>
            </div>
            <div class="tile is-parent is-3">
                <article class="tile is-child notification is-primary">
                    <p class="title has-text-centered">Success</p>
                    <p class="title is-4 is-spaced has-text-centered">
                        {{metrics.success.toLocaleString()}}
                    </p>
                    <p class="subtitle is-5 is-spaced">
                        Per Second: {{rates.success_per_second.toLocaleString()}}
                    </p>
                </article>
            </div>
            <div class="tile is-parent is-3">
                <article class="tile is-child notification is-info">
                    <p class="title has-text-centered">Retry</p>
                    <p class="title is-4 is-spaced has-text-centered">
                        {{metrics.retry.toLocaleString()}}
                    </p>
                    <p class="subtitle is-5 is-spaced">
                        Per Second: {{rates.retry_per_second.toLocaleString()}}
                    </p>
                </article>
            </div>
            <div class="tile is-parent is-3">
                <article class="tile is-child notification is-danger">
                    <p class="title has-text-centered">Failure</p>
                    <p class="title is-4 is-spaced has-text-centered">
                        {{metrics.failure.toLocaleString()}}
                    </p>
                    <p class="subtitle is-5 is-spaced">
                        Per Second: {{rates.failure_per_second.toLocaleString()}}
                    </p>
                </article>
            </div>
        </div>
    </div>

    <div class="columns">
        <div class="column">
        </div>
    </div>

    <div class="columns">
        <div class="tile">
            <div class="tile is-parent is-4">
                <article class="tile is-child notification">
                    <p class="title">Queues</p>
                    <table id="queues-table" class="table is-bordered is-stripped is-narrow">
                        <thead>
                            <tr>
                                <th style="cursor: pointer;" ng-click="queuesTableSortBy = 'queue_name'; queuesTableSortByReverse = !queuesTableSortByReverse;">Name</th>
                                <th style="cursor: pointer;" ng-click="queuesTableSortBy = 'queue_count'; queuesTableSortByReverse = !queuesTableSortByReverse;">Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="queue in queues | orderBy: queuesTableSortBy : queuesTableSortByReverse">
                                <td>{{queue.queue_name}}</td>
                                <td>{{queue.queue_count.toLocaleString()}}</td>
                            </tr>
                        </tbody>
                    </table>
                </article>
            </div>
            <div class="tile is-parent is-8">
                <article class="tile is-child notification">
                    <p class="title">Statistics</p>
                    <table id="statistics-table" class="table is-bordered is-stripped is-narrow">
                        <thead>
                            <tr>
                                <th style="cursor: pointer;" ng-click="statisticsTableSortBy = 'worker_name'; statisticsTableSortByReverse = !statisticsTableSortByReverse;">Name</th>
                                <th style="cursor: pointer;" ng-click="statisticsTableSortBy = 'metrics.process'; statisticsTableSortByReverse = !statisticsTableSortByReverse;">Process</th>
                                <th style="cursor: pointer;" ng-click="statisticsTableSortBy = 'metrics.success'; statisticsTableSortByReverse = !statisticsTableSortByReverse;">Success</th>
                                <th style="cursor: pointer;" ng-click="statisticsTableSortBy = 'metrics.retry'; statisticsTableSortByReverse = !statisticsTableSortByReverse;">Retry</th>
                                <th style="cursor: pointer;" ng-click="statisticsTableSortBy = 'metrics.failure'; statisticsTableSortByReverse = !statisticsTableSortByReverse;">Failure</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="worker_statistics in statistics | orderBy: statisticsTableSortBy : statisticsTableSortByReverse">
                                <td>{{worker_statistics.worker_name}}</td>
                                <td>{{worker_statistics.metrics.process.toLocaleString()}}</td>
                                <td>{{worker_statistics.metrics.success.toLocaleString()}}</td>
                                <td>{{worker_statistics.metrics.retry.toLocaleString()}}</td>
                                <td>{{worker_statistics.metrics.failure.toLocaleString()}}</td>
                            </tr>
                        </tbody>
                    </table>
                </article>
            </div>
        </div>
    </div>

    <div class="columns">
        <div class="tile">
            <div class="tile is-parent is-12">
                <article class="tile is-child notification">
                    <p class="title">
                        Workers
                        <a class="button is-primary is-pulled-right" ng-click="updateWorkers()">Refresh</a>
                    </p>
                    </br>
                    <p class="subtitle">
                        <input placeholder="search..." id="search" type="text" class="validate input" ng-model="workers_search">
                    </p>
                    <table id="queues-table" class="table is-bordered is-stripped is-narrow">
                        <thead>
                            <tr>
                                <th style="cursor: pointer;" ng-click="workersTableSortBy = 'hostname'; workersTableSortByReverse = !workersTableSortByReverse;">Hostname</th>
                                <th style="cursor: pointer;" ng-click="workersTableSortBy = 'name'; workersTableSortByReverse = !workersTableSortByReverse;">Worker</th>
                                <th style="cursor: pointer;" ng-click="workersTableSortBy = 'metrics.process'; workersTableSortByReverse = !workersTableSortByReverse;">Process</th>
                                <th style="cursor: pointer;" ng-click="workersTableSortBy = 'metrics.success'; workersTableSortByReverse = !workersTableSortByReverse;">Success</th>
                                <th style="cursor: pointer;" ng-click="workersTableSortBy = 'metrics.retry'; workersTableSortByReverse = !workersTableSortByReverse;">Retry</th>
                                <th style="cursor: pointer;" ng-click="workersTableSortBy = 'metrics.failure'; workersTableSortByReverse = !workersTableSortByReverse;">Fail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="worker in workers | filter: workers_search | orderBy: workersTableSortBy : workersTableSortByReverse | limitTo: 50">
                                <td>{{worker.hostname}}</td>
                                <td>{{worker.name}}</td>
                                <td>{{worker.metrics.process.toLocaleString()}}</td>
                                <td>{{worker.metrics.success.toLocaleString()}}</td>
                                <td>{{worker.metrics.retry.toLocaleString()}}</td>
                                <td>{{worker.metrics.failure.toLocaleString()}}</td>
                            </tr>
                        </tbody>
                    </table>
                </article>
            </div>
        </div>
    </div>
</div>
